@model sifam.Models.CaregiverRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaregiverRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResolved)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
